<div id="aboutMe">
  <div id="about">
    <article>
      <h1>About Me!</h1>
      <div>
        <p> My name is Andra Lally, I truely consider myself ahead of the grade! I have lived in four countries and travelled to over twenty-five. I am a dedicated, charismatic individual full of culture and life. The knowledge I have gained from traveling abroad has developed the skills and interest I have today. </p>


        <p> I pride myself on my ability to recognize and articulate a distinct voice for every project. I am driven by the in-depth problem solving that coding provides, new challenges, and the opportunity to learn from my peers. I am looking for a company that values these ideals. I want to work alongside dedicated groups of problem solvers who are passionate about the company’s mission.</p>
      </div>
    </article>
  </div>
</div>
