<nav>
  <div id="navbar">
    <ul>
       <li>
        <a href="#projects">
          <i class="fa fa-book"></i><span>Portfolio</span>
        </a>
      </li>
      <li>
        <a href="#contacts">
          <i class="fa fa-mobile"></i><span>Contact</span>
        </a>
      </li>
      <li>
        <a href="#andra-photo">
          <i class="fa fa-venus"></i><span>About</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
