<div id="nav_bar" class="row clearfix">
<div class="clearfix">
  <div class="column third flow-opposite">
    <ul class= "nav_bar">
      <li><a href="#andra-photo">About</a> // </li>
      <li><a href="#contacts">Contact</a> // </li>
      <li><a href="#projects">Portfolio</a>// </li>
    </ul>
  </div>
</div>
</div>