<ul>
<a name="projects"></a>
  <% @projects.each do |project|%>
  <li>
    <div class="full-height">
      <a>
        <%= image_tag project.images.first.picture.url(:large) %>
      </a>
    <div>
        <h1><%= project.name %></h1>
        <p class="project-content"><%= simple_format project.description %></p>
      </div>
    </div>
  </li>
  <% end %>
</ul>


