<div id="projects">
  <% @projects.each do |project|%>
  <div class="project-box">
    <%= image_tag project.images.first.picture.url(:large), class: "project-image" %>
      <article class="project">
        <section class="content">
          <h1><%= project.name %></h1>
          <p><%= simple_format project.description %></p>
          <p><%= link_to project.site %></p>
        </section>
      </article>
    </div>
  <% end %>
</div>

