<%= render partial: 'partials/header'%>
<div class="full-height main-image"></div>
<%= render partial: 'partials/about'%>
<%= render partial: 'partials/projects', locals: { projects: @projects } %>
<%= render partial: 'partials/contacts'%>
