@font-face {
  font-family: 'GalaxieCopernicus-Book';
  src:font-url('GalaxieCopernicus-Book.eot');
  src:font-url('GalaxieCopernicus-Book.eot?#iefix') format('embedded-opentype'),
    font-url('GalaxieCopernicus-Book.svg#GalaxieCopernicus-Book') format('svg'),
    font-url('GalaxieCopernicus-Book.woff') format('woff'),
    font-url('GalaxieCopernicus-Book.woff2') format('woff2'),
    font-url('GalaxieCopernicus-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxieCopernicus-BookItalic';
  src:font-url('GalaxieCopernicus-BookItalic.eot');
  src:font-url('GalaxieCopernicus-BookItalic.eot?#iefix') format('embedded-opentype'),
    font-url('GalaxieCopernicus-BookItalic.svg#GalaxieCopernicus-BookItalic') format('svg'),
    font-url('GalaxieCopernicus-BookItalic.woff') format('woff'),
    font-url('GalaxieCopernicus-BookItalic.woff2') format('woff2'),
    font-url('GalaxieCopernicus-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'huge_agb_v-webfont';
  src:font-url('huge_agb_v5-webfont.eot');
  src:font-url('huge_agb_v5-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('huge_agb_v5-webfont.svg#huge_agb_v5-webfont') format('svg'),
    font-url('huge_agb_v5-webfont.woff') format('woff'),
    font-url('huge_agb_v5-webfont.woff2') format('woff2'),
    font-url('huge_agb_v5-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}