#projects {
  padding-top: 90px;
  padding-bottom: 90px;
  @include background-image(linear-gradient( top, #530031, #2D112C));
  .project-box {
    @include container(80%);
    .project {
      bottom: 60px;
      .content {
        padding: 10px;
        @include border-bottom-radius(20px);
        background: rgba($dark, .7);
        width: 100%;
        a {
          @include text-shadow($light 0 0 10px);
          color: #20122D;
          font-weight: $bold;
          font-size: 1.5em;
          text-decoration: none;
          &:hover {
            color: darken(#20122D, 10);
          }// hover
        }// a
        h1 {
          @include text-shadow($light 0 0 5px);
          font-size: 2.5em;
          padding: 0;
          margin: 0;
        }// h1
        p {
          color: white;
        }// p
      }// .content
    }// .project
  }// .project-box
}//# project

#projects .project-box .project .content a:hover {
  color: $yellow;
}

.image-wrapper {
  @include border-top-radius(20px);
  margin-top: 50px;
  height: 200px;
  overflow: hidden;
}

@media (min-width: $small) {
  .image-wrapper {
    height: 500px;
    @include border-radius(20px);
  }
    #projects {
      .project-box {
        margin-bottom: 70px;
      .project {
          position: relative;
          bottom: 5px;
        .content {
          bottom: -5px;
          position: absolute;
          background: rgba($dark, .7);
          }// .content
      }// .project
    }// .project-box
  } 
} // #

@media (min-width: $medium) {

  .image-wrapper {
    height: 650px;
    @include border-radius(20px);
    img {
      width: 100%;
    }
  }
    #projects {
      .project-box {
        margin-bottom: 90px;
      .project {
        .content {
          background: rgba($dark, .7);
          h1 {
            font-size: 4em;
          }
        }// .content
      }// .project
    }// .project-box
  } 
} // #projects

