#projects {
  padding-top: 70px;
  padding-bottom: 70px;
  @include background-image(linear-gradient( top, #530031, #2D112C));
  .project-box {
    position: relative;
    margin-bottom: -20px;
    @include container(80%);
    .project {
      bottom: 60px;
      .content {
        position: relative;
        bottom: 60px;
        @include border-bottom-radius(20px);
        background: rgba($dark, .7);
        width: 100%;
        a {
          @include text-shadow($light 0 0 10px);
          color: #20122D;
          font-weight: $bold;
          font-size: 1.5em;
          text-decoration: none;
          &:hover {
            color: darken(#20122D, 10);
          }// hover
        }// a
        h1 {
          @include text-shadow($light 0 0 5px);
          font-size: 3em;
          padding: 0;
          margin: 0;
          padding-left: 10px;
        }// h1
        p {
          padding: 15px;
          color: white;
        }// p
      }// .content
    }// .project
  }// .project-box
}//# project

#projects .project-box .project .content a:hover {
  color: $yellow;
}

@media (min-width: $small) {
  #projects {
    padding-top: 90px;
    padding-bottom: 90px;
    .project-box {
      margin-bottom: 50px;
    .project {
      .content {
        bottom: 0;
        position: absolute;
        background: rgba($dark, .7);
        h1 {
          @include text-shadow($light 0 0 5px);
          font-size: 5em;
          }
        }// .content
      }// .project
    }// .project-box
  } // #projects
  .image-wrapper {
    height-max: 500px;
    overflow: hidden;
    @include border-radius(20px);
  }// .image-wrapper
}// media


.image-wrapper {
  height: 400px;
  overflow: hidden;
  @include border-bottom-radius(20px);
}

img.project-image {
  width: 100%;
  height: auto;
}//  .image-wrapper


@media (min-width: $small) {
  .image-wrapper {
    height: 500px;
  }
} // #projects

@media (min-width: $medium) {
  .image-wrapper {
    height: 550px;
  }
} // #projects

@media (min-width: $wide) {
  .image-wrapper {
    height: 650px;
  }
} // #projects