@import "font_faces.css.scss";
@import "font-awesome";
@import "compass";
@import 'susy';

//Compass imports
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import 'compass/css3/filter';
@import "compass/css3/flexbox";
@import "compass/css3/transition";

//External Libraries
@import "breakpoint";

//Core Partial
@import "variables";
@import "mixins";
@import "base";
@import "layout";


@import "contacts";
@import "navbar";
@import "about";
@import "projects";

.container { @include container; }

header {
  // @include background-image(linear-gradient(top, $light, lighten($yellow, 35)));
  background-image: image-url('http://content.finda.photo/unsplash/oFAVqfTSby8.jpg') ;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  padding-top: 200px;
  margin: auto;
  h1 {
    @include text-shadow($dark 0 0 10px);
    margin: auto;
    color: $light;
    font-size: 8em;
    font-weight: $heavy ;
    line-height: .8em;
    text-align: center;
  }
}

@media (max-width: $medium) {
  header {
   h1 {
     @include text-shadow($dark 0 0 10px);
     color: $light;
     font-size: 7em;
     }// h1
  }// header
}// media


@media (max-width: $small) {
  header {
   h1 {
     @include text-shadow($dark 0 0 10px);
     color: $light;
     font-size: 5em;
     }// h1
  }// header
}// media

// admin css
.table {
  background-color: white;
  tr {
  font-size: 40px;
  font-weight: bold;
  }
  td {
    background-color: white;
    font-size: 18px;
  }
}

.delete a {
  color: red;
}
