@import "font_faces.css.scss";
@import "font-awesome";
@import "layout";
@import "contacts";
@import "about";

// admin css
.table {
  tr {
  font-size: 40px;
  font-weight: bold;
  }
  td {
    font-size: 18px;
  }
}

.delete a {
  color: red;
}
